@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');    

:root { 
  --bg-dark: #F6F6F6; 
  --bg-light: #FFFFFF;
  --blue-dark-1: #00296b;
  --blue-dark-2: #003f88;
  --blue-dark-3: #00509d;
  --yellow-dark-1: #fdc500;
  --yellow-dark-2: #ffd500;
  --light-grey: #a9a9a9;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-dark);
  font-family: 'Mulish', sans-serif !important;
}

.main-container {
  width: 1280px;
  height: 100vh;
  margin: 60px auto 0 auto;
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
}

/* For large devices */
@media screen and (max-width: 1024px) {
  .main-container {
    width: 880px;
    height: auto;
  }

  body {
    overflow: auto;
  }
}

/* For medium devices */
@media screen and (max-width: 992px) {
  .main-container {
    width: 570px;
  }
}

/* For small devices */
@media screen and (max-width: 540px) {
  .main-container {
    width: 320px;
  }
}